footer {
  padding-top: 30px;
}
.nav-link {
  color: white !important;
}
.navbar-brand {
  color: white !important;
}
.search-bar {
  margin-left: 170px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
